* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* general css class */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-size: 20px;
    border: none;
    padding: 10px 50px;
    color: white;
    border-radius: 2px;
    background-color: var(--primary);
}

:root {

    --primary: #a700cc;
    --yellow: #ffc107;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}



/* css for header section starts here  */
.header {
    /* background-color: aquamarine; */
    padding: 10px 0;
}

.logo h1 {
    padding-left: 40px;
    color: var(--primary);
    font-family: var(--font);
    font-size: 1.8rem;
    font-weight: bolder;

}

.quote {
    padding-right: 40px;
    font-family: var(--font);
}

.hamberger_icon {
    padding-right: 40px;
    font-size: 2rem;
    display: none;
}

.quote .btn {
    padding: 20px 30px;
    border-radius: 5px;
    color: var(--primary);
    background-color: white;
    border: 2px solid var(--primary);
}

.quote .btn:hover {
    border: 2px solid transparent;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

/* css for header section ends here  */

/* navbar links css starts here  */

.navbar ul li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.4rem;
    font-family: var(--font);
}

.navbar ul li:hover {
    cursor: pointer;
}

/* navbar links css ends here  */

/* hexagon section start here  */

.hexagon {

    /* background-color: green; */
    flex-direction: column;
    justify-content: center;
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: #eee;

}

.hexagon p {
    padding-top: 2.5em;
    padding-bottom: 3em;
    font-size: 1.2rem;
    font-family: var(--font);
}

.hexagon h1 {
    font-size: 4rem;
    font-family: var(--font);
    color: var(--primary);
}

.button {
    margin-left: -20px;
}

.button .service_btn {
    background-color: var(--yellow);
    border: 2px solid transparent;
    font-size: 1.5rem;
}

.button .service_btn:hover {
    background-color: white;
    color: var(--yellow);
    border: 2px solid var(--yellow);
    cursor: pointer;
}

.button .learn_btn {
    border: 2px solid transparent;
    font-size: 1.5rem;
}

.button .learn_btn:hover {
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
}

.button .btn {
    padding: 20px 30px;
    margin-left: 20px;
    border-radius: 5px;
}



/* hexagon section ends here  */



/* section 3 starts here  */

.section3 {
    flex-direction: column;
    padding-top: 2em;
}



.heading .feature {
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.heading .diffrent {
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 500;
}

.para {
    width: 50%;
    text-align: justify;
    margin-bottom: 50px;
    color: grey;
    font-size: 1.4rem;
    font-family: var(--font);
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
    /* border: 2px solid red; */
    margin: 0 100px;
    margin-bottom: 100px;
}

.cards img {

    width: 100%;
    height: 200px;
}



.card_child h3 {
    text-align: center;
    margin: 10px 0;
    font-family: var(--font);
    font-size: 1.3rem;
    font-weight: 500;
}

.card_child p {
    text-align: justify;
    margin-bottom: 10px;
    font-family: var(--font);
    font-size: 1.2rem;
    color: grey;
}

/* section 3 ends here  */

/* section 4 starts here  */

.section4 {
    background-color: khaki;
    padding-left: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: var(--font);
    font-size: 2rem;

}

.section4 h1 {
    color: var(--primary);
    font-weight: 500;
}

.section4 p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.section4 .contain {
    width: 80%;
}

.section4 button {
    background-color: var(--primary);
    padding: 10px 50px;
    color: white;
    border-radius: 2px;
    border: 2px solid transparent;
}

.section4 button:hover {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: white;
    cursor: pointer;
}

/* section 4 ends here  */

/* services section start here  */

.section5 {
    margin-bottom: 50px;
}

.section5 #heading {
    color: var(--primary);
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: grey;
    text-decoration-thickness: 1px;
    font-size: 3rem;
}

.services {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    grid-template-rows: auto auto;
    margin: 0 80px;
    margin-top: 50px;
}

.tiles {
    display: grid;
    grid-template-columns: 25% 75%;
    /* border: 2px solid red; */
    margin-top: 0;
    width: 80%;
    margin-left: 10%;
}

.tiles img {
    height: 50px;
    width: 50px;
    color: var(--primary);
}

.tiles h1 {
    margin-bottom: 20px;
    font-family: var(--font);
    font-weight: 500;

}

.tiles p {
    color: grey;
    font-size: 1.2rem;
    text-align: justify;
}

.tiles_content {
    width: 100%;
}




/* services section ends here  */

/* bird image section start here  */
.section6 {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 50px;
}

.section6 img {
    width: 100%;
    height: 100vh;
}

.section6_content {
    padding-left: 10%;
    /* border: 2px solid skyblue; */
    height: 100vh;
    background-color: #f8f9fa;
}

.section6_content .about_us_heading {
    margin-top: 80px;
    color: var(--primary);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: grey;
    text-decoration-thickness: 1px;

}

.section6_content .future {
    color: grey;
    text-align: justify;
    font-size: 1.3rem;
    width: 80%;

}

.services2 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
    margin-top: 50px;
    width: 80%;
    /* border: 2px solid blue; */
}


.tiles2 {
    display: grid;
    grid-template-columns: 20% 80%;
    /* border: 2px solid red; */
    margin-top: 0;
    width: 100%;

}

.tiles2 img {
    height: 30px;
    width: 30px;
    color: var(--primary);
}

.tiles2 {
    margin-bottom: 20px;
    font-family: var(--font);
    font-weight: 500;

}

.tiles2 p {
    color: grey;
    font-size: 1.1rem;
    /* text-align: justify; */
}


.tiles_content2 {
    width: 100%;
}

.tiles_content2 h1 {
    margin-bottom: 20px;
    font-weight: 500;
}

.tiles_content2 .frame {
    text-align: justify;
    width: 88%;
}


/* bird image section ends here  */

/* footer section begin here  */

footer h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: var(--font);
}

.input {
    text-align: center;
    margin-bottom: 10px;
}

.input button {
    background-color: var(--primary);
    color: white;
    border-radius: 3px;
    border: 2px solid transparent;
}

.input button:hover {
    border: 2px solid var(--primary);
    background-color: white;
    color: var(--primary);
    cursor: pointer;

}

input {
    border: 2px solid var(--primary);
    height: 47px;
    width: 30%;
    outline: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
}

.icons ul {
    justify-content: center;
}

.icons ul li {
    margin-left: 20px;
    list-style: none;
    margin-bottom: 20px;
    color: var(--primary);
    font-size: 1.3rem;
    margin-top: 20px;

}

.icons ul li:hover {
    color: #380543;
    cursor: pointer;
}

footer p {
    text-align: center;
    padding: 20px 0;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.3rem;
    border-top: 2px solid #eee;
}

/* footer section ends here  */


/* media query section begin here  */
@media only screen and (max-width: 1100px) {

    .navbar,
    .quote {
        display: none;
    }

    .hamberger_icon {
        display: block;
    }

    .hexagon p {
        text-align: center;
        padding: 0 5px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .cards {
        grid-template-columns: auto auto;
        row-gap: 20px;
        justify-content: center;
        /* border: 2px solid blue; */
    }

    .section4 {
        padding-left: 25%;
    }

    .services {
        grid-template-columns: auto auto;

    }

    .tiles {

        grid-template-columns: 35% 65%;
    }

    @media only screen and (max-width: 650px) {
        .cards {
            grid-template-columns: auto;
        }

        .heading .feature,
        .heading .diffrent {
            font-size: 2rem;
            /* color: #a700cc; */
        }

        .services {
            grid-template-columns: auto;

        }

    }




    @media only screen and (max-width: 480px) {
        .hexagon h1 {
            font-size: 3rem;
        }




        .button {
            display: flex;
            flex-direction: column;
        }

        .learn_btn {
            margin-bottom: 20px;
        }

        .heading .feature,
        .heading .diffrent {
            font-size: 1.5rem;
            text-align: center;
            /* color: #a700cc; */
        }

        .tiles {

            grid-template-columns: 100%;
        }

    }




    /* media query section ends here  */